In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv

In [84]:
all_stock=pd.read_csv('Data/all_stocks_2006-01-01_to_2018-01-01.csv')
all_stock['Date']=pd.to_datetime(all_stock['Date'])
all_stock

            Date   Open   High    Low  Close    Volume  Name
0     2006-01-03  77.76  79.35  77.24  79.11   3117200   MMM
1     2006-01-04  79.49  79.49  78.25  78.71   2558000   MMM
2     2006-01-05  78.41  78.65  77.56  77.99   2529500   MMM
3     2006-01-06  78.64  78.90  77.64  78.63   2479500   MMM
4     2006-01-09  78.50  79.83  78.46  79.02   1845600   MMM
...          ...    ...    ...    ...    ...       ...   ...
93607 2017-12-22  71.42  71.87  71.22  71.58  10979165  AABA
93608 2017-12-26  70.94  71.39  69.63  69.86   8542802  AABA
93609 2017-12-27  69.77  70.49  69.69  70.06   6345124  AABA
93610 2017-12-28  70.12  70.32  69.51  69.82   7556877  AABA
93611 2017-12-29  69.79  70.13  69.43  69.85   6613070  AABA

[93612 rows x 7 columns]

In [85]:
superstore_dataset=pd.read_csv('Data/superstoresales.csv')
df_dataset['Order Date']=pd.to_datetime(df_dataset['Order Date'])
df_dataset.sort_values(by='Order Date')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
540,541,CA-2015-140795,2015-01-02,03/02/2015,First Class,BD-11500,Bradley Drucker,Consumer,United States,Green Bay,Wisconsin,54302.0,Central,TEC-AC-10001432,Technology,Accessories,Enermax Aurora Lite Keyboard,468.900
5713,5714,US-2015-143707,2015-01-03,05/03/2015,Standard Class,HR-14770,Hallie Redmond,Home Office,United States,New York City,New York,10035.0,East,TEC-PH-10003655,Technology,Phones,Sannysis Cute Owl Design Soft Skin Case Cover ...,5.940
157,158,CA-2015-104269,2015-01-03,06/03/2015,Second Class,DB-13060,Dave Brooks,Consumer,United States,Seattle,Washington,98115.0,West,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,457.568
6548,6549,CA-2015-113880,2015-01-03,05/03/2015,Standard Class,VF-21715,Vicky Freymann,Home Office,United States,Elmhurst,Illinois,60126.0,Central,OFF-PA-10003036,Office Supplies,Paper,"Black Print Carbonless 8 1/2"" x 8 1/4"" Rapid M...",17.472
7949,7950,CA-2015-131009,2015-01-03,05/03/2015,Standard Class,SC-20380,Shahid Collister,Consumer,United States,El Paso,Texas,79907.0,Central,FUR-FU-10001095,Furniture,Furnishings,DAX Black Cherry Wood-Tone Poster Frame,63.552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,909,CA-2018-143259,2018-12-30,03/01/2019,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,10009.0,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,52.776
645,646,CA-2018-126221,2018-12-30,05/01/2019,Standard Class,CC-12430,Chuck Clark,Home Office,United States,Columbus,Indiana,47201.0,Central,OFF-AP-10002457,Office Supplies,Appliances,Eureka The Boss Plus 12-Amp Hard Box Upright V...,209.300
907,908,CA-2018-143259,2018-12-30,03/01/2019,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,10009.0,East,TEC-PH-10004774,Technology,Phones,Gear Head AU3700S Headset,90.930
906,907,CA-2018-143259,2018-12-30,03/01/2019,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,10009.0,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",323.136
1297,1298,CA-2018-115427,2018-12-30,03/01/2019,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,California,94533.0,West,OFF-BI-10004632,Office Supplies,Binders,GBC Binding covers,20.720

The year range of stock prices is from 2006 to 2017 while the range of superstore is from 2015 to 2017,  
so we select 2015 to 2017 as the range of data.

In [86]:
selected_stock=all_stock.loc[(all_stock['Date']>'2015-01-01') & (all_stock['Date']<'2017-12-31')]
selected_stock

            Date    Open    High     Low   Close    Volume  Name
2265  2015-01-02  164.71  165.08  162.73  164.06   2117562   MMM
2266  2015-01-05  163.00  163.64  160.08  160.36   3692901   MMM
2267  2015-01-06  160.82  161.37  157.74  158.65   3537144   MMM
2268  2015-01-07  159.90  160.28  158.94  159.80   3081291   MMM
2269  2015-01-08  160.65  163.69  160.52  163.63   3149592   MMM
...          ...     ...     ...     ...     ...       ...   ...
93607 2017-12-22   71.42   71.87   71.22   71.58  10979165  AABA
93608 2017-12-26   70.94   71.39   69.63   69.86   8542802  AABA
93609 2017-12-27   69.77   70.49   69.69   70.06   6345124  AABA
93610 2017-12-28   70.12   70.32   69.51   69.82   7556877  AABA
93611 2017-12-29   69.79   70.13   69.43   69.85   6613070  AABA

[23405 rows x 7 columns]